# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/koios-badges/node_modules
/Titan-Token-Polygon/node_modules
/titan-nft-rinkeby/node_modules
/titan-nft-polygon/node_modules